*.egg
*.egg-info
*.iml
*.ipr
*.iws
*.log
*.mo
*.py[cod]
*.ropeproject
*.so
.DS_Store
.bash_history
.cache/
.coverage
.git/
.idea/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.sass-cache/
.tox
.webassets-cache
Dockerfile
app.log
bin
build
debug.log
develop-eggs
dist
docs/_build
eggs
env
env*
laalaa/settings/local.py
laalaa/static/
lib
lib64
nightwatch.xml
node_modules/
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
runonce_osx.sh
sdist
tests/reports/nightwatch/*
var
venv
