repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.3.0
    hooks:
      - id: baseline
  - repo: https://github.com/ambv/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: flake8
