repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1
    hooks:
      - id: baseline
  - repo: https://github.com/ambv/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/flake8
    rev: '7.3.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
