version: '3.2'
services:
  start_services:
    image: jwilder/dockerize
    command: >
      -wait tcp://db:5432 -timeout 30s
      -wait tcp://redis:6379 -timeout 30s
    depends_on:
      - db
      - redis

  start_app:
    image: jwilder/dockerize
    command: >
      -wait tcp://laalaa:8000 --timeout 60s
    depends_on:
      - laalaa

  # services
  db:
    image: circleci/postgres:12.0-alpine-postgis
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
        mode: host
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: laalaa

  redis:
    image: redis:8-alpine
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        mode: host

  # application
  laalaa:
    build: .
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: laalaa
      HOST_IP: redis
      CELERY_BROKER_URL: redis://redis:6379
