version: '3.2'
services:
  start_services:
    image: jwilder/dockerize
    command: >
      -wait tcp://db:5432 -timeout 30s
      -wait tcp://redis:6379 -timeout 30s
    depends_on:
      - db
      - redis
      - laalaa

  # services
  db:
    image: cimg/postgres:14.19-postgis
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d laalaa"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
        mode: host
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: laalaa

  redis:
    image: redis:4-alpine
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        mode: host

  # application
  laalaa:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    environment:
      DATABASE_URL: postgis://postgres@db:5432/laalaa
      HOST_IP: redis
      CELERY_BROKER_URL: redis://redis:6379

    volumes:
      - ./laalaa:/home/app/laalaa
      - ./docker:/home/app/docker
