{% extends "admin/base_site.html" %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
#progressbar {
  width: 400px;
  height: 22px;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #ddd;
  overflow: hidden;
}

#progress p {
  margin: 10px 0;
}

#status {
  font-weight: bold;
}

#progressbar div {
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 1px #444;
  text-align: right;
  line-height: 22px;
  width: 0;
  background-image:
    -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%,
      transparent 66%),
    -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25));
  background-size: 48px 24px, 100% 100%;
  background-color: #7ca0c7;
  overflow: hidden;
}
.errors {
  border: 2px solid #999;
  display: none;
  padding: 20px 40px;
  width: 50%;
  min-width: 400px;
}
</style>
{% endblock %}

{% block content %}
<div id="progress">
  <p id="status">Initializing</p>
  <div id="progressbar"><div></div></div>
  <p class="counts"></p>
  <ul class="errors"></ul>
</div>
<script type="text/javascript">
$(function () {

  var task = null;
  var label = $('#status');
  var progressBar = $('#progressbar');
  var counts = $('.counts');
  var polling = window.setInterval(checkProgress, 1000);
  var errors = [];
  var $errors = $('.errors');

  function progress(percent, $el, delay) {
    if (delay == undefined) {
      delay = 300;
    }
    var width = percent * $el.width() / 100;
    $el.find('div').animate({width: width}, delay).html(percent + "%&nbsp;");
  }

  function updateProgress(data) {
    if (data.task) {
      if (data.task != task) {
        task = data.task;
        progress(0, progressBar, 0);
        label.text(data.task);
      }
      var percent = Math.ceil(data.count / data.total * 100);
      progress(percent, progressBar);
      counts.html('<span>' + data.count + ' of ' + data.total + '</span>');
    } else {
      var labelText = data.status || 'No import running';
      label.text(labelText);
    }
    if (data.task === 'done' || data.status === 'not running' || label.text() === "success") {
      window.clearInterval(polling);
      progressBar.remove();
      counts.remove();
    }
    if (data.errors) {
      errors = data.errors;
    }
    if (errors.length > 0) {
      $errors.css('display', 'block');
      $errors.empty();
      for (var i = 0; i < errors.length; i++) {
        $errors.append($('<li></li>').text(errors[i]));
      }
    }
  }

  function checkProgress() {
    $.getJSON('/admin/import-progress/', updateProgress);
  }
});
</script>
{% endblock %}
